{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Search Actions
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search Actions</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Search for an action</h1>

      {% if err.summarise %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if err.NaN %}
            <li>
              <a href="#lessonName">The lesson ID can contain only numbers</a>
            </li>
            {% endif %}
            {% if err.dateFrom %}
              <li>
                <a href="#dateFromDay">Enter a valid date to search from</a>
              </li>
            {% endif %}
            {% if err.dateTo %}
              <li>
                <a href="#dateToDay">Enter a valid date to search to</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form class="form" action="/search_actions" method="post" enctype='application/json'>

        <div {% if err.NaN %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} > <!-- Lesson name field -->
          <label class="govuk-label--s" for="Lesson name">
            Lesson ID
          </label><br>
          {% if err.NaN %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The lesson ID can contain only numbers
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="lessonId" name="lessonId" type="text" value="{{reqjson.lessonId}}">
        </div>

        <div class="govuk-form-group"> <!-- Project name field -->
          <label class="govuk-label--s" for="Project name">
            Project name
          </label>
          <span id="date-from" class="govuk-hint">
            You can enter either the name of the project or the TP number.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="projectName" name="projectName" type="text" value="{{reqjson.projectName}}">
        </div>

        <div class="govuk-form-group"> <!-- Action owner field -->
          <label class="govuk-label--s" for="Action owner">
            Action owner
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="actionOwner" name="actionOwner" type="text" value="{{reqjson.actionOwner}}">
        </div>

        <div {% if err.dateFrom %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %}> <!-- date from field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-from">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date from
              </h1>
            </legend>
            {% if err.dateFrom %}
            <span id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a valid date
            </span>
            {% endif %}
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-from-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateFromDay" name="dateFromDay" type="text" maxlength="2" value="{{reqjson.dateFromDay}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateFromMonth" name="dateFromMonth" type="text" maxlength="2" value="{{reqjson.dateFromMonth}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateFromYear" name="dateFromYear" type="text" maxlength="4" value="{{reqjson.dateFromYear}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div {% if err.dateTo %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} > <!-- date to field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date to
              </h1>
            </legend>
            {% if err.dateTo %}
            <span id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a valid date
            </span>
            {% endif %}
            <span id="date-from" class="govuk-hint">
              For example, 12 12 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_to_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateToDay" name="dateToDay" type="text" value="{{reqjson.dateToDay}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-to-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateToMonth" name="dateToMonth" type="text" value="{{reqjson.dateToMonth}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_to_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateToYear" name="dateToYear" type="text" value="{{reqjson.dateToYear}}">
                </div>
              </div>
            </div>
            </fieldset>
        </div>

        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="include-deleted">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                {% if reqjson.include_deleted %}
                  <input checked class="govuk-checkboxes__input" id="include_deleted" name="include_deleted" type="checkbox" value="include_deleted">
                {% else %}
                  <input class="govuk-checkboxes__input" id="include_deleted" name="include_deleted" type="checkbox" value="include_deleted">
                {% endif %}
                <label class="govuk-label govuk-checkboxes__label" for="include_deleted">
                  Include deleted lessons?
                </label>
              </div>
            </div>
          </fieldset>
        </div> -->

        <input type="submit" draggable="false" value="Search" class="govuk-button">
        <a href="/search_lessons" value="Reset" class="govuk-button govuk-button--secondary">Reset</a>

      </form>

      {% if action_details %} <!-- display table only if results exist -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row" id="results">
        <div class="govuk-grid-column-one-third">
          <p></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-font-weight-regular">{{rowsReturned}} results returned</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p></p>
        </div>
      </div>

      <table class="govuk-table" id="resultsTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th onclick="sortTable(0)" style="cursor:pointer" class="govuk-table__header">Action number ⇅</th>
            <th onclick="sortTable(1)" style="cursor:pointer" class="govuk-table__header">Action owner ⇅</th>
            <th onclick="sortTable(2)" style="cursor:pointer" class="govuk-table__header">Target date ⇅</th>
            <th onclick="sortTable(3)" style="cursor:pointer" class="govuk-table__header">Completion date ⇅</th> <!-- TODO - date fields sort in alphabetical not chronological order -->
          </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% asyncEach action in action_details %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/view/{{action.project_tp_num}}-{{action.lesson_id}}.{{action.action_id}}">{{action.project_tp_num}}-{{action.lesson_id}}.{{action.action_id}}</a></th>
          <td class="govuk-table__cell">{{action.action_owner}}</td>
          <td class="govuk-table__cell">{{action.target_date | date}}</td>
          <td class="govuk-table__cell">{{action.completion_date | date}}</td>
        </tr>

        {% endeach %}

      </tbody>
    </table>

    {% endif %}

    <script>
      // function copied from W3schools
      function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("resultsTable");
      dir = "asc";
      switching = true;
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>

    </div>
  </div>

{% endblock %}
