{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Search Lessons
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search Lessons</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Search for a lesson</h1>

      <form class="form" action="/search_lessons" method="post" enctype='application/json'>

        <div class="govuk-form-group"> <!-- Lesson name field -->
          <label class="govuk-label--s" for="Lesson name">
            Lesson name
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="lessonName" name="lessonName" type="text" pattern="[0-9]*" value="{{reqjson.lessonName}}">
        </div>

        <div class="govuk-form-group"> <!-- Project name field -->
          <label class="govuk-label--s" for="Project name">
            Project name
          </label><br>
          <span id="date-from" class="govuk-hint">
            You can enter either the name of the project or the TP number.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="projectName" name="projectName" type="text" value="{{reqjson.projectName}}">
        </div>

        <div class="govuk-form-group"> <!-- Project type field -->
          <label class="govuk-label--s" for="Project type">
            Project type
          </label><br>
          <select class="govuk-select" id="projectType" name="projectType">
            <option value=""></option>
            <option value="project" {% if reqjson.projectType=="project" %} selected {% endif %}>Project</option>
            <option value="campaign" {% if reqjson.projectType=="campaign" %} selected {% endif %}>Recruitment Campaign</option>
            <option value="conference" {% if reqjson.projectType=="conference" %} selected {% endif %}>Conference</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- portfolio field -->
          <label class="govuk-label--s" for="portfolio">
            Portfolio
          </label><br>
          <select class="govuk-select" id="portfolio" name="portfolio">
            <option value=""></option>
            {% asyncEach portfolio in activePortfolios %}
            <option value={{portfolio.portfolio_name}}{% if reqjson.portfolio==portfolio.portfolio_name %} selected {% endif %}>{{portfolio.portfolio_name}}</option>
            {% endeach %}
          </select>
        </div>

        <div class="govuk-form-group"> <!-- Lesson category field -->
          <label class="govuk-label--s" for="category">
            Lesson Category
          </label><br>
          <select class="govuk-select" id="category" name="category">
            <option value="none"></option>
            {% asyncEach category in categories %}
            {% set catName = category.category_name | toLowerCase %}
            <option value={{category.category_name | toLowerCase }}{% if reqjson.category==catName %} selected {% endif %}>{{category.category_name}}</option>
            {% endeach %}
          </select>
        </div>

        <div class="govuk-form-group"> <!-- lesson type field -->
          <label class="govuk-label--s" for="Lesson type">
            Lesson type
          </label><br>
          <select class="govuk-select" id="lessonType" name="lessonType">

            <option value="" selected></option>
            <option value="www" {% if reqjson.lessonType=="www" %} selected {% endif %}>What went well</option>
            <option value="ebi" {% if reqjson.lessonType=="ebi" %} selected {% endif %}>Even better if</option>

          </select>
        </div>

        <div class="govuk-form-group"> <!-- date from field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-from">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date from
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-from-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateFromDay" name="dateFromDay" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" inputmode="numeric" value="{{reqjson.dateFromDay}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateFromMonth" name="dateFromMonth" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" inputmode="numeric" value="{{reqjson.dateFromMonth}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateFromYear" name="dateFromYear" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" inputmode="numeric" value="{{reqjson.dateFromYear}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- date to field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h4 class="govuk-fieldset__heading">
                Date to
              </h4>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 12 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_to_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateToDay" name="dateToDay" type="text" pattern="[0-9]*" inputmode="numeric" value="{{reqjson.dateToDay}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-to-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateToMonth" name="dateToMonth" type="text" pattern="[0-9]*" inputmode="numeric" value="{{reqjson.dateToMonth}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_to_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateToYear" name="dateToYear" type="text" pattern="[0-9]*" inputmode="numeric" value="{{reqjson.dateToYear}}">
                </div>
              </div>
            </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="include-deleted">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                {% if reqjson.include_deleted %}
                  <input checked class="govuk-checkboxes__input" id="include_deleted" name="include_deleted" type="checkbox" value="include_deleted">
                {% else %}
                  <input class="govuk-checkboxes__input" id="include_deleted" name="include_deleted" type="checkbox" value="include_deleted">
                {% endif %}
                <label class="govuk-label govuk-checkboxes__label" for="include_deleted">
                  Include deleted lessons?
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <input type="submit" draggable="false" value="Search" class="govuk-button">
        <a href="/search_lessons" value="Reset" class="govuk-button govuk-button--secondary">Reset</a>

      </form>

      {% if lesson_details %} <!-- display table only if results exist -->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row" id="results">
        <div class="govuk-grid-column-one-third">
          <p></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-font-weight-regular">{{rowsReturned}} results returned</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p></p>
        </div>
      </div>

      <table class="govuk-table" id="resultsTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th onclick="sortTable(0)" style="cursor:pointer" class="govuk-table__header">Lesson number ⇅</th>
            <th onclick="sortTable(1)" style="cursor:pointer" class="govuk-table__header">Project name ⇅</th>
            <th onclick="sortTable(2)" style="cursor:pointer" class="govuk-table__header">Type ⇅</th>
            <th onclick="sortTable(3)" style="cursor:pointer" class="govuk-table__header">Category ⇅</th>
            <th onclick="sortTable(4)" style="cursor:pointer" class="govuk-table__header">Portfolio ⇅</th>
            <th onclick="sortTable(5)" style="cursor:pointer" class="govuk-table__header">Date added ⇅</th> <!-- TODO - date field sorts in alphabetical not chronological order -->
          </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% asyncEach lesson_detail in lesson_details %}

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__header"><a href="/view/{{lesson_detail.project_tp_num}}-{{lesson_detail.lesson_id}}">{{lesson_detail.project_tp_num}}-{{lesson_detail.lesson_id}}</a></th>
          <td class="govuk-table__cell">{{lesson_detail.project_name | trim}}</td>
          <td class="govuk-table__cell">{{lesson_detail.www_ebi}}</td>
          <td class="govuk-table__cell">{{lesson_detail.category_name}}</td>
          <td class="govuk-table__cell">{{lesson_detail.portfolio_name}}</td>
          <td class="govuk-table__cell">{{lesson_detail.date_added | date }}</td>
          <!-- <td class="govuk-table__cell">{{lesson_detail.summary}}</td>
          <td class="govuk-table__cell">{{lesson_detail.username}}</td> -->
        </tr>

        {% endeach %}

      </tbody>
    </table>

    {% endif %}

    <script>
      // function copied from W3schools
      function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("resultsTable");
      dir = "asc";
      switching = true;
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>

    </div>
  </div>

{% endblock %}
