{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Service Administration
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/admin">Service Admin</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/admin/maintain_categories">Maintain Categories</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Add Category</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Add Category</h1>

      {% if err.summarise %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if err.categoryName.blank %}
            <li>
              <a href="#category_name">Enter the name of the category</a>
            </li>
            {% endif %}
            {% if err.categoryName.tooLong %}
            <li>
              <a href="#category_name">Category name cannot be longer than 45 characters</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form class="form" action="/admin/add_category" method="post">

        <!-- Portfolio name field -->
        <div {% if err.categoryName.blank or err.categoryName.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="category_name">
            Category Name
          </label><br>
          {% if err.categoryName.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the category
          </span>
          {% endif %}
          {% if err.categoryName.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Category name cannot be longer than 45 characters
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="category_name" name="category_name" type="text" value="{{portfolio[0].portfolio_name}}">
        </div>

        <input type="submit" draggable="false" value="Save" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
