{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Delete?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Delete</li> <!-- TODO check breadcrumbs -->
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Confirm delete
          </h1>
          <div class="govuk-panel__body">
            Are you sure you want to delete lesson {{id.proj_id}}-{{id.les_id}}?<br>
          </div>
          <div class="govuk-panel__body--s">
          <br>This action can <b>not</b> be undone.
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<form class="form" action="{{id.proj_id}}-{{id.les_id}}" method="post" enctype='application/json'>
  <input type="submit" draggable="false" value="Yes, delete" class="govuk-button govuk-button--warning">
  <a href="/view/{{id.proj_id}}-{{id.les_id}}" role="button" draggable="false" class="govuk-button govuk-button--secondary"  data-module="govuk-button--secondary">
    No, take me back
  </a>
</form>
{% endblock %}
