{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Project details
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Project details</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if project_details[0].isProject %}
      <h1 class="govuk-heading-xl">Project details</h1>
      {% endif %}
      {% if project_details[0].isCampaign %}
      <h1 class="govuk-heading-xl">Campaign details</h1>
      {% endif %}
      {% if project_details[0].isConference %}
      <h1 class="govuk-heading-xl">Conference details</h1>
      {% endif %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Field</th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            {% if project_details[0].isProject %}
              <th scope="row" class="govuk-table__header">Project TP number</th>
            {% endif %}
            {% if project_details[0].isCampaign %}
              <th scope="row" class="govuk-table__header">Campaign reference number</th>
            {% endif %}
            {% if project_details[0].isConference %}
              <th scope="row" class="govuk-table__header">Conference reference number</th>
            {% endif %}
            <td class="govuk-table__cell">{{project_details[0].project_tp_num}}</td>
          </tr>
          <tr class="govuk-table__row">
            {% if project_details[0].isProject %}
              <th scope="row" class="govuk-table__header">Project name</th>
            {% endif %}
            {% if project_details[0].isCampaign %}
              <th scope="row" class="govuk-table__header">Campaign name</th>
            {% endif %}
            {% if project_details[0].isConference %}
            <th scope="row" class="govuk-table__header">Conference name</th>
            {% endif %}
            <td class="govuk-table__cell">{{project_details[0].project_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date added</th>
            <td class="govuk-table__cell">{{project_details[0].start_date | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">SRM</th>
            <td class="govuk-table__cell">{{project_details[0].srm}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Portfolio</th>
            <td class="govuk-table__cell">{{project_details[0].portfolio_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">{{project_details[0].status}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date closed</th>
            <td class="govuk-table__cell">{{project_details[0].closure_date | date}}</td>
          </tr>
        </tbody>
      </table>

      {% if not project_details[0].deleted %}
      <a href="/update/{{project_details[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        {% if project_details[0].isProject %}
          Update project
        {% endif %}
        {% if project_details[0].isCampaign %}
          Update campaign
        {% endif %}
        {% if project_details[0].isConference %}
          Update conference
        {% endif %}
      </a>
      <a href="/delete/{{project_details[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        {% if project_details[0].isProject %}
          Delete project
        {% endif %}
        {% if project_details[0].isCampaign %}
          Delete campaign
        {% endif %}
        {% if project_details[0].isConference %}
          Delete conference
        {% endif %}
      </a>
      {% else %}
      <a role="button" draggable="false" class="govuk-button govuk-button--disabled govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        {% if project_details[0].isProject %}
          Update project
        {% endif %}
        {% if project_details[0].isCampaign %}
          Update campaign
        {% endif %}
        {% if project_details[0].isConference %}
          Update conference
        {% endif %}
      </a>
      <a href="/reinstate/{{project_details[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        {% if project_details[0].isProject %}
          Reinstate project
        {% endif %}
        {% if project_details[0].isCampaign %}
          Reinstate campaign
        {% endif %}
        {% if project_details[0].isConference %}
          Reinstate conference
        {% endif %}
      </a>
      {% endif %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Lesson number</th>
            <th scope="col" class="govuk-table__header">Project name</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header">Date added</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">{{lesson_details[0].lesson_id}}</td>
            <td class="govuk-table__cell">{{lesson_details[0].project_tp_num}}</td>
            <td class="govuk-table__cell">{{lesson_details[0].www_ebi}}</td>
            <td class="govuk-table__cell">{{lesson_details[0].category}}</td>
            <td class="govuk-table__cell">{{lesson_details[0].date_added | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{lesson_details[1].lesson_id}}</th>
            <td class="govuk-table__cell">{{lesson_details[1].project_tp_num}}</td>
            <td class="govuk-table__cell">{{lesson_details[1].www_ebi}}</td>
            <td class="govuk-table__cell">{{lesson_details[1].category}}</td>
            <td class="govuk-table__cell">{{lesson_details[1].date_added | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{lesson_details[2].lesson_id}}</th>
            <td class="govuk-table__cell">{{lesson_details[2].project_tp_num}}</td>
            <td class="govuk-table__cell">{{lesson_details[2].www_ebi}}</td>
            <td class="govuk-table__cell">{{lesson_details[2].category}}</td>
            <td class="govuk-table__cell">{{lesson_details[2].date_added | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{lesson_details[3].lesson_id}}</th>
            <td class="govuk-table__cell">{{lesson_details[3].project_tp_num}}</td>
            <td class="govuk-table__cell">{{lesson_details[3].www_ebi}}</td>
            <td class="govuk-table__cell">{{lesson_details[3].category}}</td>
            <td class="govuk-table__cell">{{lesson_details[3].date_added | date}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
