{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Lesson details
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Lesson details</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Lesson details</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Field</th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project TP number</th> <!-- TODO change to conf or campaign as appropriate -->
            <td class="govuk-table__cell"><a href="/view/{{lesson_details[0].project_tp_num}}">{{lesson_details[0].project_tp_num}}</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project name</th> <!-- TODO change to conf or campaign as appropriate -->
            <td class="govuk-table__cell">{{lesson_details[0].project_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date added</th>
            <td class="govuk-table__cell">{{lesson_details[0].date_added | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Category</th>
            <td class="govuk-table__cell">{{lesson_details[0].category_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">WWW/EBI</th>
            <td class="govuk-table__cell">
              <div class="tooltip">{{lesson_details[0].www_ebi}}
                <div class="tooltiptext">
                  {% if lesson_details[0].www_ebi == "www" or lesson_details[0].www_ebi == "WWW" %}
                    what went well
                  {% else %}
                    even better if
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Portfolio</th>
            <td class="govuk-table__cell">{{lesson_details[0].portfolio_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lesson Summary</th>
            <td class="govuk-table__cell">{{lesson_details[0].summary}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Identified by</th>
            <td class="govuk-table__cell">{{lesson_details[0].identified_by}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Area</th>
            <td class="govuk-table__cell">{{lesson_details[0].identifiers_area}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">How was the lesson identified?</th>
            <td class="govuk-table__cell">{{lesson_details[0].how_identified}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Uploaded by</th>
            <td class="govuk-table__cell">{{lesson_details[0].username}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Completed date</th>
            <td class="govuk-table__cell">{{lesson_details[0].completion_date | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lesson details</th>
            <td class="govuk-table__cell">{{lesson_details[0].description}}</td>
          </tr>
        </tbody>
      </table>

      {% if not lesson_details[0].deleted %}
      <a href="/update/{{lesson_details[0].project_tp_num}}-{{lesson_details[0].lesson_id}}" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Update entry
      </a>
      <a href="/delete/{{lesson_details[0].project_tp_num}}-{{lesson_details[0].lesson_id}}" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Delete lesson
      </a>
      {% else %}
      <a role="button" draggable="false" class="govuk-button govuk-button--disabled govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Update entry
      </a>
      <a href="/reinstate/{{lesson_details[0].project_tp_num}}-{{lesson_details[0].lesson_id}}" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Reinstate lesson
      </a>
      {% endif %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Action number</th>
            <th scope="col" class="govuk-table__header">Action owner</th>
            <th scope="col" class="govuk-table__header">Target date</th>
            <th scope="col" class="govuk-table__header">Completion date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% asyncEach action in action_details %}
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header"><a href='/view/{{action.project_tp_num}}-{{action.lesson_id}}.{{action.action_id}}'>{{action.project_tp_num}}-{{action.lesson_id}}.{{action.action_id}}</a></td>
            <td class="govuk-table__cell">{{action.action_owner}}</td>
            <td class="govuk-table__cell">{{action.target_date | date}}</td>
            <td class="govuk-table__cell">{{action.completion_date | date}}</td>
          </tr>
          {% endeach %}
        </tbody>
      </table>

      <form class="form" action="../add_action/{{lesson_details[0].project_tp_num}}-{{lesson_details[0].lesson_id}}" method="post" enctype='application/json'>
        <input type="submit" draggable="false" value="Add an action" class="govuk-button govuk-button--secondary">
      </form>

    </div>
  </div>

{% endblock %}
