{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Update Project
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/view/{{projectDetails[0].project_tp_num}}">
        {% if projectDetails[0].isProject %}
          Project details
        {% endif %}
        {% if projectDetails[0].isCampaign %}
          Campaign details
        {% endif %}
        {% if projectDetails[0].isConference %}
          Conference details
        {% endif %}
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      {% if projectDetails[0].isProject %}
        Update project
      {% endif %}
      {% if projectDetails[0].isCampaign %}
        Update campaign
      {% endif %}
      {% if projectDetails[0].isConference %}
        Update conference
      {% endif %}
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if projectDetails[0].isProject %}
      <h1 class="govuk-heading-xl">Project details</h1>
      {% endif %}
      {% if projectDetails[0].isCampaign %}
      <h1 class="govuk-heading-xl">Campaign details</h1>
      {% endif %}
      {% if projectDetails[0].isConference %}
      <h1 class="govuk-heading-xl">Conference details</h1>
      {% endif %}

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Success
        </h1>
        <div class="govuk-panel__body">
          {{projectDetails[0].project_tp_num}} updated successfully
        </div>
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Field</th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project TP number</th>
            <td class="govuk-table__cell">{{projectDetails[0].project_tp_num}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project name</th>
            <td class="govuk-table__cell">{{projectDetails[0].project_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date added</th>
            <td class="govuk-table__cell">{{projectDetails[0].start_date | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">SRM</th>
            <td class="govuk-table__cell">{{projectDetails[0].srm}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Portfolio</th>
            <td class="govuk-table__cell">{{projectDetails[0].portfolio_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">{{projectDetails[0].status}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date closed</th>
            <td class="govuk-table__cell">{{projectDetails[0].closure_date | date}}</td>
          </tr>
        </tbody>
      </table>

      <a href="/update/{{projectDetails[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        {% if projectDetails[0].isProject %}
          Update project
        {% endif %}
        {% if projectDetails[0].isCampaign %}
          Update campaign
        {% endif %}
        {% if projectDetails[0].isConference %}
          Update conference
        {% endif %}
      </a>

      <a href="/delete/{{projectDetails[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        {% if projectDetails[0].isProject %}
          Delete project
        {% endif %}
        {% if projectDetails[0].isCampaign %}
          Delete campaign
        {% endif %}
        {% if projectDetails[0].isConference %}
          Delete conference
        {% endif %}
      </a>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Lesson number</th>
            <th scope="col" class="govuk-table__header">Project name</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header">Date added</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% asyncEach lesson in lesson_details %}
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header"><a href='/view/{{lesson.project_tp_num}}-{{lesson.lesson_id}}'>{{lesson.project_tp_num}}-{{lesson.lesson_id}}</a></td>
            <td class="govuk-table__cell">{{lesson.project_tp_num}}</td>
            <td class="govuk-table__cell">{{lesson.www_ebi}}</td>
            <td class="govuk-table__cell">{{lesson.category_name}}</td>
            <td class="govuk-table__cell">{{lesson.date_added | date}}</td>
          </tr>
          {% endeach %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
