{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Lesson details
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Project details</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Project details</h1>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Success
        </h1>
        <div class="govuk-panel__body">
          {{project_details[0].project_tp_num}} updated successfully
        </div>
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Field</th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project TP number</th>
            <td class="govuk-table__cell">{{project_details[0].project_tp_num}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project name</th>
            <td class="govuk-table__cell">{{project_details[0].project_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date added</th>
            <td class="govuk-table__cell">{{project_details[0].start_date | date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">SRM</th>
            <td class="govuk-table__cell">{{project_details[0].srm}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Portfolio</th>
            <td class="govuk-table__cell">{{project_details[0].portfolio_name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">{{project_details[0].status}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date closed</th>
            <td class="govuk-table__cell">{{project_details[0].closure_date | date}}</td>
          </tr>
        </tbody>
      </table>

      <a href="/update/{{project_details[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Update project
      </a>

      <a href="/delete/{{project_details[0].project_tp_num}}" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Delete project
      </a>

    </div>
  </div>

{% endblock %}
