{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Update
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Update</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Update a lesson</h1>

      <form class="form" action="/update/{{lesson_details[0].project_tp_num}}-{{lesson_details[0].lesson_id}}" method="post">

        <!-- Project name field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="Project name">
            Project name
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="projectName" name="projectName" type="text" value="{{lesson_details[0].project_name}}">
        </div>

        <!-- date added field -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date added
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateAddedDay" name="dateAddedDay" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lesson_details[0].day_added}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateAddedMonth" name="dateAddedMonth" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lesson_details[0].month_added}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateAddedYear" name="dateAddedYear" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lesson_details[0].year_added}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- category field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="Lesson category">
            Lesson category
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="category" name="category" type="text" value="{{lesson_details[0].category}}">
        </div>

        <!-- type field -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="wwwebi-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Is this a "what went well" or "even better if" lesson?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="typeWww" name="type" type="radio" value="www" {% if lesson_details[0].www_ebi=="WWW" %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  WWW
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="typeEbi" name="type" type="radio" value="ebi" {% if lesson_details[0].www_ebi=="EBI" %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  EBI
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- portfolio field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="portfolio">
            Portfolio
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="portfolio" name="portfolio" type="text" value="{{lesson_details[0].portfolio_name}}">
        </div>

        <!-- lesson summary field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="portfolio">
            Summary
          </label>
          <span id="date-from" class="govuk-hint">
            Please enter a brief (less than 120 characters) summary of the lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="summary" name="summary" type="text" value="{{lesson_details[0].summary}}">
        </div>

        <!-- identified by field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="identified-by">
            Identified by
          </label>
          <span id="date-from" class="govuk-hint">
            Please enter the full name of the person who identified this lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiedBy" name="identifiedBy" type="text" value="{{lesson_details[0].identified_by}}">
        </div>

        <!-- TODO how identified field -->

        <!-- area field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="identified-by-area">
            Area of staff member who identified lesson
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiersArea" name="identifiersArea" type="text" value="{{lesson_details[0].identifiers_area}}">
        </div>

        <!-- uploaded by field -->
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="added-by">
            Uploaded by
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="uploadedBy" name="uploadedBy" type="text" value="{{lesson_details[0].username}}">
        </div>

        <!-- target date field -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              Date all actions should be completed by. For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="targetDateDay" name="targetDateDay" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lesson_details[0].target_day}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="targetDateMonth" name="targetDateMonth" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lesson_details[0].target_month}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="targetDateYear" name="targetDateYear" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lesson_details[0].target_year}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- details field -->
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
          <div class="govuk-form-group">
            <label class="govuk-label--s" for="with-hint">
              Lesson learned details
            </label>
            <span id="with-hint-hint" class="govuk-hint">
              Do not include personal or financial information.
            </span>
            <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="details" name="details" rows="5" aria-describedby="with-hint-info with-hint-hint">{{lesson_details[0].description}}</textarea>
          </div>
          <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 2000 characters
          </span>
        </div>

        <input type="submit" draggable="false" value="Update" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
