{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Update Project
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/view/{{projectDetails[0].project_tp_num}}">
        {% if projectDetails[0].isProject %}
          Project details
        {% endif %}
        {% if projectDetails[0].isCampaign %}
          Campaign details
        {% endif %}
        {% if projectDetails[0].isConference %}
          Conference details
        {% endif %}
      </a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Update</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Update project</h1>

      {% if err.summarise %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if err.project_name.blank %}
            <li>
              <a href="#project_name">Enter the name of the project, conference or recruitment campaign</a>
            </li>
            {% endif %}
            {% if err.project_name.tooLong %}
            <li>
              <a href="#project_name">Project name cannot be longer than 100 characters</a>
            </li>
            {% endif %}
            {% if err.start_day or err.start_month or err.start_year %}
            <li>
              <a href="#start_day">Enter the date the project started</a>
            </li>
            {% endif %}
            {% if err.srm.blank %}
            <li>
              <a href="#srm">Enter the name of the SRM for the project</a>
            </li>
            {% endif %}
            {% if err.srm.tooLong %}
            <li>
              <a href="#srm">SRM field cannot be longer than 45 characters</a>
            </li>
            {% endif %}
            {% if err.portfolio.blank %}
            <li>
              <a href="#portfolio">Select a portfolio</a>
            </li>
            {% endif %}
            {% if err.status.blank %}
            <li>
              <a href="#status">Select the status</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
      {% endif %}

      <form class="form" action="/update/{{projectDetails[0].project_tp_num}}" method="post">

        <!-- Project name field -->
        <div {% if err.project_name.blank or err.project_name.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="project_name">
            Project, conference or campaign name
          </label><br>
          {% if err.project_name.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the project, campaign or conference, for example, "EU Exit"
          </span>
          {% endif %}
          {% if err.project_name.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Project name cannot be longer than 100 characters
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="project_name" name="project_name" type="text" value="{{projectDetails[0].project_name}}">
        </div>

        <!-- Project type field -->
        <div class='govuk-form-group'>
          <label class="govuk-label--s" for="project_type">
            Project type
          </label><br>
          <input readonly class="govuk-input govuk-!-width-two-thirds" id="project_type" name="project_type" type="text" value="{{projectDetails[0].project_type}}" style="background-color:#b9bbbd; color:#393b3d">
        </div>

        <!-- date added field --> <!-- TODO validation -->
        <div {% if err.start_day or err.start_month or err.start_year %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date added
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            {% if err.start_day or err.start_month or err.start_year %}
            <span id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter the date the project, campaign or conference started
            </span>
            {% endif %}
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start_day" name="start_day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{projectDetails[0].start_day}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start_month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start_month" name="start_month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{projectDetails[0].start_month}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="start_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start_year" name="start_year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{projectDetails[0].start_year}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- SRM field -->
        <div {% if err.srm.blank or err.srm.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="srm">
            SRM
          </label><br>
          {% if err.srm.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the Senior Responsible Manager for this project
          </span>
          {% endif %}
          {% if err.srm.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> SRM cannot be longer than 45 characters
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="srm" name="srm" type="text" value="{{projectDetails[0].srm}}">
        </div>

        <!-- portfolio field -->
        <div {% if err.portfolio.blank or err.portfolio.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="portfolio">
            Portfolio
          </label><br>
          {% if err.portfolio.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select the portfolio to which the project belongs
          </span>
          {% endif %}
          {% if err.portfolio.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error with portfolio name. Please select a different portfolio and report this issue
          </span>
          {% endif %}
          <select class="govuk-select" id="portfolio_name" name="portfolio_name">
            <option value=""></option>
            {% asyncEach portfolio in activePortfolios %}
            <option value={{portfolio.portfolio_name}}{% if projectDetails[0].portfolio_name==portfolio.portfolio_name %} selected {% endif %}>{{portfolio.portfolio_name}}</option>
            {% endeach %}
          </select>
        </div>

        <!-- status field -->
        <div {% if err.status.blank %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="status">
            Status of project
          </label><br>
          {% if err.status.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select a status
          </span>
          {% endif %}
          {% if err.status.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Status cannot be longer than 6 characters
          </span>
          {% endif %}
          <select class="govuk-select" id="status" name="status">
            <option value="" {% if projectDetails[0].status=="" %} selected {% endif %}></option>
            <option value="Open" {% if projectDetails[0].status=="Open" %} selected {% endif %}>Open</option>
            <option value="Closed" {% if projectDetails[0].status=="Closed" %} selected {% endif %}>Closed</option>
          </select>
        </div>

        <!-- date closed field -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date Closed
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              Date the project was formally closed. For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closure_day" name="closure_day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{projectDetails[0].closure_day}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="closure_month" name="closure_month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{projectDetails[0].closure_month}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="closure_year" name="closure_year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{projectDetails[0].closure_year}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{projectDetails[0] | dump}}

        <input type="submit" draggable="false" value="Update" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
