{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Update Lesson
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/search}}">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/view/{{lessonDetails[0].project_tp_num}}-{{id.les_id}}">Lesson details</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Update</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Update a lesson</h1>

      {% if err.summary %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if err.project_tp_num.blank %}
            <li>
              <a href="#project_tp_num">Enter the TP number of the project</a>
            </li>
            {% endif %}
            {% if err.project_tp_num.tooLong %}
            <li>
              <a href="#project_tp_num">Enter the TP number of the project, for example, "TP081"</a>
            </li>
            {% endif %}
            {% if err.category.blank %}
            <li>
              <a href="#category">Select a category</a>
            </li>
            {% endif %}
            {% if err.lessonType.blank %}
            <li>
              <a href="#www_ebi">Select a lesson type</a>
            </li>
            {% endif %}
            {% if err.identified_by.blank %}
            <li>
              <a href="#identified_by">Enter the name of the person who identified this lesson</a>
            </li>
            {% endif %}
            {% if err.identified_by.tooLong %}
            <li>
              <a href="#identified_by">Identified By field cannot contain more than 45 characters</a>
            </li>
            {% endif %}
            {% if err.identifiers_area.blank %}
            <li>
              <a href="#identifiers_area">Enter the work area of the person who identified this lesson</a>
            </li>
            {% endif %}
            {% if err.identifiers_area.tooLong %}
            <li>
              <a href="#identifiers_area">Identifier's area field cannot contain more than 45 characters</a>
            </li>
            {% endif %}
            {% if err.how_identified.blank %}
            <li>
              <a href="#how_identified">Briefly explain how or when this lesson was identified</a>
            </li>
            {% endif %}
            {% if err.how_identified.tooLong %}
            <li>
              <a href="#how_identified">How Identified field cannot contain more than 128 characters</a>
            </li>
            {% endif %}
            {% if err.summary.blank %}
            <li>
              <a href="#summary">Enter a summary of the lesson learned</a>
            </li>
            {% endif %}
            {% if err.summary.tooLong %}
            <li>
              <a href="#summary">Summary field cannot contain more than 128 characters</a>
            </li>
            {% endif %}
            {% if err.description.blank %}
            <li>
              <a href="#description">Explain the impact or benefit of this lesson learned</a>
            </li>
            {% endif %}
            {% if err.description.tooLong %}
            <li>
              <a href="#description">Details field cannot contain more than 2000 characters</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form class="form" action="/update/{{id.proj_id}}-{{id.les_id}}" method="post">

        <!-- Project tp number field -->
        <div {% if err.project_tp_num.blank or err.project_tp_num.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="project_tp_num">
            Project TP number
          </label><br>
          {% if err.project_tp_num.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the TP number of the project, for example, "TP081"
          </span>
          {% endif %}
          {% if err.project_tp_num.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The TP number cannot be longer than 6 characters
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="project_tp_num" name="project_tp_num" type="text" value="{{ lessonDetails[0].project_tp_num }}">
        </div>

        <!-- date added field --> <!-- TODO validation -->
        <div class="govuk-form-group" >
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date added
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day_added" name="day_added" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lessonDetails[0].day_added}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month_added" name="month_added" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lessonDetails[0].month_added}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year_added" name="year_added" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lessonDetails[0].year_added}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- category field -->
        <div {% if err.category.blank or err.category.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="category">
            Lesson Category
          </label><br>
          {% if err.category.blank %}
            <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select a category
          </span>
          {% endif %}
          <select class="govuk-select" id="category_name" name="category_name">
            <option value="none"></option>
            {% asyncEach category in categories %}
            <option value={{category.category_name}}{% if lessonDetails[0].category_name==category.category_name %} selected {% endif %}>{{category.category_name}}</option>
            {% endeach %}
          </select>
        </div>

        <!-- type field -->
        <div {% if err.type.blank %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <fieldset class="govuk-fieldset" aria-describedby="wwwebi-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Is this a "what went well" or "even better if" lesson?
              </h1>
            </legend>
            {% if err.type.blank %} <!-- display only if error returned by routes -->
              <span id="changed-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select "WWW" for "what went well" or "EBI" for "even better if"
              </span>
            {% endif %}
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="typeWww" name="www_ebi" type="radio" value="WWW" {% if lessonDetails[0].www_ebi=="WWW" or lessonDetails[0].www_ebi=="www" %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="www_ebi">
                  WWW
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="typeEbi" name="www_ebi" type="radio" value="EBI" {% if lessonDetails[0].www_ebi=="EBI" or lessonDetails[0].www_ebi=="ebi" %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="www_ebi-2">
                  EBI
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- identified by field -->
        <div {% if err.identified_by.blank or err.identified_by.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="identified_by">
            Identified by
          </label>
          {% if err.identified_by.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the person who identified the project
          </span>
          {% endif %}
          {% if err.identified_by.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 45 characters or less
          </span>
          {% endif %}
          <span id="date-from" class="govuk-hint">
            Please enter the full name of the person who identified this lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="identified_by" name="identified_by" type="text" value="{{lessonDetails[0].identified_by}}">
        </div>

        <!-- area field -->
        <div {% if err.identifiers_area.blank or err.identifiers_area.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="identifiers_area">
            Identifier's area of work
          </label>
          {% if err.identifiers_area.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the work area of the person who identified this lesson, for example, TEaL portfolio
          </span>
          {% endif %}
          {% if err.identifiers_area.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 45 characters or less
          </span>
          {% endif %}
          <span id="identifiers-area-hint" class="govuk-hint">
            Hint text TBC
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiers_area" name="identifiers_area" type="text" value="{{lessonDetails[0].identifiers_area}}">
        </div>

        <!-- how identified field -->
        <div {% if err.how_identified.blank or err.how_identified.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="how_identified">
            How was this lesson identified?
          </label><br>
          {% if err.how_identified.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Briefly explain how or when this lesson was identified, for example, at a sprint retrospective
          </span>
          {% endif %}
          {% if err.how_identified.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 128 characters or less
          </span>
          {% endif %}
          <span id="how-identified-hint" class="govuk-hint">
            Hint text TBC
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="how_identified" name="how_identified" type="text" value="{{lessonDetails[0].how_identified}}">
        </div>

        <!-- lesson summary field -->
        <div {% if err.summary.blank or err.summary.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="portfolio">
            Summary
          </label>
          <span id="date-from" class="govuk-hint">
            Please enter a brief (less than 120 characters) summary of the lesson.
          </span>
          {% if err.summary.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Provide a summary of the lesson learned
          </span>
          {% endif %}
          {% if err.summary.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 128 characters or less
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="summary" name="summary" type="text" value="{{lessonDetails[0].summary}}">
        </div>

        <!-- details field -->
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
          <div {% if err.description.blank or err.description.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
            <label class="govuk-label--s" for="description">
              Lesson learned details
            </label>
            {% if err.description.blank %}
            <span id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Describe the impact or benefit of the lesson
            </span>
            {% endif %}
            {% if err.description.tooLong %}
            <span id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter 2000 characters or less
            </span>
            {% endif %}
            <span id="details-hint" class="govuk-hint">
              Describe the impact or benefit
            </span>
            <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="description" name="description" rows="5" aria-describedby="with-hint-info with-hint-hint">{{lessonDetails[0].description}}</textarea>
            <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 2000 characters
            </span>
          </div>
        </div>

        <!-- target date field -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              Date all actions should be completed by. For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="target_date_day" name="target_date_day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lessonDetails[0].target_day}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="target_date_month" name="target_date_month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lessonDetails[0].target_month}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="target_date_year" name="target_date_year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{lessonDetails[0].target_year}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <input type="submit" draggable="false" value="Update" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
