{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Create Lesson
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Create a lesson</h1>

      {% if err.summary %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if err.projectTpNum.blank %}
            <li>
              <a href="#projectTpNum">Enter the TP number of the project</a>
            </li>
            {% endif %}
            {% if err.projectTpNum.tooLong %}
            <li>
              <a href="#projectTpNum">The TP number cannot be longer than 7 characters</a>
            </li>
            {% endif %}
            {% if err.projectTpNum.notExists and not err.projectTpNum.blank %}
            <li>
              <a href="#projectTpNum">This is not a valid project. Please enter the number of an existing project, or create the project first.</a>
            </li>
            {% endif %}
            {% if err.category.blank %}
            <li>
              <a href="#category">Select a category</a>
            </li>
            {% endif %}
            {% if err.lessonType.blank %}
            <li>
              <a href="#lessonType">Select a lesson type</a>
            </li>
            {% endif %}
            {% if err.identifiedBy.blank %}
            <li>
              <a href="#identifiedBy">Enter the name of the person who identified this lesson</a>
            </li>
            {% endif %}
            {% if err.identifiedBy.tooLong %}
            <li>
              <a href="#identifiedBy">Identified By field cannot contain more than 45 characters</a>
            </li>
            {% endif %}
            {% if err.identifiedByArea.blank %}
            <li>
              <a href="#identifiedByArea">Enter the work area of the person who identified this lesson</a>
            </li>
            {% endif %}
            {% if err.identifiedByArea.tooLong %}
            <li>
              <a href="#identifiedByArea">Identifier's area field cannot contain more than 45 characters</a>
            </li>
            {% endif %}
            {% if err.howIdentified.blank %}
            <li>
              <a href="#howIdentified">Briefly explain how or when this lesson was identified</a>
            </li>
            {% endif %}
            {% if err.howIdentified.tooLong %}
            <li>
              <a href="#howIdentified">How Identified field cannot contain more than 128 characters</a>
            </li>
            {% endif %}
            {% if err.summary.blank %}
            <li>
              <a href="#summary">Enter a summary of the lesson learned</a>
            </li>
            {% endif %}
            {% if err.summary.tooLong %}
            <li>
              <a href="#summary">Summary field cannot contain more than 128 characters</a>
            </li>
            {% endif %}
            {% if err.details.blank %}
            <li>
              <a href="#details">Explain the impact or benefit of this lesson learned</a>
            </li>
            {% endif %}
            {% if err.details.tooLong %}
            <li>
              <a href="#details">Details field cannot contain more than 2000 characters</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form class="form" action="create_lesson" method="post" enctype='application/json'>

        <!-- Project tp_num field -->
        <div {% if err.projectTpNum.blank or err.projectTpNum.tooLong or err.projectTpNum.notExists %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="projectTpNum">
            Project TP number, or campaign or conference reference
          </label>
          {% if err.projectTpNum.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the TP number of the project, for example, "TP081"
          </span>
          {% endif %}
          {% if err.projectTpNum.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The TP number cannot be longer than 7 characters
          </span>
          {% endif %}
          {% if err.projectTpNum.notExists and not err.projectTpNum.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>This is not a valid project. Please enter the number of an existing project, or create the project first.
          </span>
          {% endif %}
          <span id="project-tp-num-hint" class="govuk-hint">
            Enter the TP number of the project <!-- TODO Change to drop down with all projects? -->
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="projectTpNum" name="projectTpNum" type="text" value = {{ reqjson.projectTpNum }}>
        </div>

        <!-- date added field --> <!-- TODO validation -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date added
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day_added" name="day_added" type="text" pattern="[0-9]*" inputmode="numeric" value="{{reqjson.day_added}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month_added" name="month_added" type="text" pattern="[0-9]*" inputmode="numeric" value="{{reqjson.month_added}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year_added" name="year_added" type="text" pattern="[0-9]*" inputmode="numeric" value="{{reqjson.year_added}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- category field -->
        <div {% if err.category.blank or err.category.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="category">
            Lesson Category
          </label><br>
          {% if err.category.blank %}
            <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select a category
          </span>
          {% endif %}
          <select class="govuk-select" id="category" name="category">
            <option value="none"></option>
            {% asyncEach category in categories %}
            <option value={{category.category_name}}{% if reqjson.category==category.category_name %} selected {% endif %}>{{category.category_name}}</option>
            {% endeach %}
          </select>
        </div>

        <!-- type field -->
        <div {% if err.lessonType.blank %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <fieldset class="govuk-fieldset" aria-describedby="lesson-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Lesson type
              </h1>
            </legend>
            {% if err.lessonType.blank %} <!-- display only if error returned by routes -->
              <span id="lessonType" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select "WWW" for "what went well" or "EBI" for "even better if"
              </span>
            {% endif %}
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lessonType" name="lessonType" type="radio" value="www"
                    {% if reqjson.lessonType == "www" %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="lessonTypeWww">
                  WWW
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lessonType" name="lessonType" type="radio" value="ebi"
                    {% if reqjson.lessonType == "ebi" %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="lessonTypeEbi">
                  EBI
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- identified by field -->
        <div {% if err.identifiedBy.blank or err.identifiedBy.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="identifiedBy">
            Identified by
          </label>
          {% if err.identifiedBy.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the person who identified this lesson
          </span>
          {% endif %}
          {% if err.identifiedBy.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 45 characters or fewer
          </span>
          {% endif %}
          <span id="identified-by-hint" class="govuk-hint">
            Please enter the full name of the person who identified this lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiedBy" name="identifiedBy" type="text" value = {{ reqjson.identifiedBy }}>
        </div>

        <!-- area field -->
        <div {% if err.identifiedByArea.blank or err.identifiedByArea.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="identifiedByArea">
            Identifier's area of work
          </label>
          {% if err.identifiedByArea.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the work area of the person who identified this lesson, for example, TEaL portfolio
          </span>
          {% endif %}
          {% if err.identifiedByArea.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 45 characters or fewer
          </span>
          {% endif %}
          <span id="identifiers-area-hint" class="govuk-hint">
            Hint text TBC
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiedByArea" name="identifiedByArea" type="text" value = {{ reqjson.identifiedByArea }}>
        </div>

        <!-- how identified field -->
        <div {% if err.howIdentified.blank or err.howIdentified.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="howIdentified">
            When or how was this lesson identified?
          </label>
          {% if err.howIdentified.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Briefly explain how or when this lesson was identified, for example, at a sprint retrospective
          </span>
          {% endif %}
          {% if err.howIdentified.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 128 characters or fewer
          </span>
          {% endif %}
          <span id="how-identified-hint" class="govuk-hint">
            Hint text TBC
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="howIdentified" name="howIdentified" type="text" value = {{ reqjson.howIdentified }}>
        </div>

        <!-- TODO Automatically calculate name of uploader -->

        <!-- lesson summary field -->
        <div {% if err.summary.blank or err.summary.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="summary">
            Summary
          </label>
          {% if err.summary.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Provide a summary of the lesson learned
          </span>
          {% endif %}
          {% if err.summary.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 128 characters or fewer
          </span>
          {% endif %}
          <span id="summary-hint" class="govuk-hint">
            Please enter a brief summary of the lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="summary" name="summary" type="text" value = {{ reqjson.summary }}>
        </div>

        <!-- lesson details field -->
        <div {% if err.details.blank or err.details.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} data-module="govuk-character-count" data-maxlength="2000">
          <label class="govuk-label--s" for="with-hint">
            Lesson learned details
          </label>
          {% if err.details.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Describe the impact or benefit of the lesson
          </span>
          {% endif %}
          {% if err.details.tooLong %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter 2000 characters or fewer
          </span>
          {% endif %}
          <span id="summary-hint" class="govuk-hint">
            Describe the impact or benefit.
          </span>
          <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="details" name="details" rows="5" aria-describedby="with-hint-info with-hint-hint">{{ reqjson.details }}</textarea>
          <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 2000 characters
          </span>
        </div>

        <br>

        <input type="submit" draggable="false" value="Create" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
