{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Create Lesson
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Add an action</h1>

      {% if err.summarise %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% if err.lessonId.blank %}
            <li>
              <a href="#lessonIdDisplay">Enter a project TP number and lesson ID</a>
            </li>
            {% endif %}
            {% if err.lessonId.invalid %}
            <li>
              <a href="#lessonIdDisplay">Enter a valid project TP number and lesson ID</a>
            </li>
            {% endif %}
            {% if err.actionDetails.blank %}
            <li>
              <a href="#actionDetails">Detail the action to be taken</a>
            </li>
            {% endif %}
            {% if err.actionOwner.blank %}
            <li>
              <a href="#actionOwner">Enter the name of the action owner</a>
            </li>
            {% endif %}
            {% if err.actionOwner.tooLong %}
            <li>
              <a href="#actionOwner">Action owner cannot be longer than 45 characters</a>
            </li>
            {% endif %}
            {% if err.targetDate %}
            <li>
              <a href="#target_day">Enter a valid date</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      <form class="form" action="create_action_man" method="post" enctype='application/json'>

        <!-- lesson ID field -->
        <div {% if err.lessonId.blank or err.lessonId.invalid %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="projectTpNum">
            Lesson ID
          </label><br>
          {% if err.lessonId.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a project TP number and lesson ID
          </span>
          {% endif %}
          {% if err.lessonId.invalid %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a valid project TP number and lesson ID
          </span>
          {% endif %}
          <span id="project-tp-num-hint" class="govuk-hint">
            Enter the TP number of the project, and the lesson ID this action relates to. For example, TP081-6
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="lessonIdDisplay" name="lessonIdDisplay" type="text" value="{{reqjson.lessonIdDisplay}}">
        </div>

        <!-- action details field -->
        <div {% if err.actionDetails.blank %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %}>
          <label class="govuk-label--s" for="category">
            Action or recommendation details
          </label><br>
          {% if err.actionDetails.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Detail the action to be taken
          </span>
          {% endif %}
          <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="actionDetails" name="actionDetails" rows="5" aria-describedby="with-hint-info with-hint-hint">{{reqjson.actionDetails}}</textarea>
        </div>

        <!-- action owner field -->
        <div {% if err.actionOwner.blank or err.actionOwner.tooLong %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="category">
            Action or recommendation owner
          </label><br>
          {% if err.actionOwner.blank %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the action owner
          </span>
          {% endif %}
          {% if err.actionOwner.tooLong %}
            <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Action owner cannot be longer than 45 characters
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="actionOwner" name="actionOwner" type="text" value="{{reqjson.actionOwner}}">
        </div>

        <!-- target date field -->
        <div {% if err.targetDate %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %}>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date
              </h1>
            </legend>
            {% if err.targetDate %}
            <span id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a valid date
            </span>
            {% endif %}
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="target_day" name="target_day" type="text" value="{{reqjson.target_day}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="target_month" name="target_month" type="text" value="{{reqjson.target_month}}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="target_year" name="target_year" type="text" value="{{reqjson.target_year}}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <br>

        <input data-prevent-double-click="true" type="submit" draggable="false" name="save" value="Save" class="govuk-button">

      </form>
    </div>
  </div>

{% endblock %}
