{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Create
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" action="/create" method="post">

        {% if err %} <!-- display only if error returned by Express -->
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint changed-name-error">
        {% endif %}

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What would you like to create?
            </h1>
          </legend>

          {% if err %} <!-- display only if error returned by Express -->
            <span id="changed-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select an option
            </span>
          {% endif %}

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lesson_radio" name="lessonproject" type="radio" value="action">
              <label class="govuk-label govuk-radios__label" for="action">
                Action
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="lesson_radio" name="lessonproject" type="radio" value="lesson">
              <label class="govuk-label govuk-radios__label" for="lesson">
                Lesson
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project_radio" name="lessonproject" type="radio" value="project">
              <label class="govuk-label govuk-radios__label" for="project">
                Project
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project_radio" name="lessonproject" type="radio" value="campaign">
              <label class="govuk-label govuk-radios__label" for="project">
                Recruitment Campaign
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="project_radio" name="lessonproject" type="radio" value="conference">
              <label class="govuk-label govuk-radios__label" for="project">
                Conference
              </label>
            </div>
          </div>

        {% if err %}
          </fieldset>
        </div>
        {% else %}
        <br>
        {% endif %}

        <input type="submit" draggable="false" value="Next" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
