{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Create
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create a lesson</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Create a lesson</h1>

      <form class="form" action="create" method="post" enctype='application/json'>

        <!-- Project tp_num field -->
        <div {% if err.projectTpNum %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="project-tp-num">
            Project TP number
          </label>
          <span id="project-tp-num-hint" class="govuk-hint">
            Please enter the TP number of the project <!-- TODO Change to drop down with all projects? -->
          </span>
          {% if err.projectTpNum %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the TP number of the project, for example, "TP081"
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="projectTpNum" name="projectTpNum" type="text" value = {{ reqjson.projectTpNum }}>
        </div>

        <!-- TODO automatically calculate date -->

        <!-- category field -->
        <div {% if err.lessonCategory %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="lesson-category">
            Lesson category
          </label><br>
          {% if err.lessonCategory %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the category of the lesson, for example, "Security"
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="lessonCategory" name="lessonCategory" type="text" value = {{ reqjson.lessonCategory }}>
        </div>

        <!-- type field -->
        <div {% if err.lessonType %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <fieldset class="govuk-fieldset" aria-describedby="lesson-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Lesson type
              </h1>
            </legend>
            {% if err.lessonType %} <!-- display only if error returned by routes -->
              <span id="changed-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select "WWW" for "what went well" or "EBI" for "even better if"
              </span>
            {% endif %}
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lessonType" name="lessonType" type="radio" value="www"
                    {% if reqjson.lessonType == "www" %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="lessonTypeWww">
                  WWW
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lessonType" name="lessonType" type="radio" value="ebi"
                    {% if reqjson.lessonType == "ebi" %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="lessonTypeEbi">
                  EBI
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- identified by field -->
        <div {% if err.identifiedBy %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="identified-by">
            Identified by
          </label>
          <span id="identified-by-hint" class="govuk-hint">
            Please enter the full name of the person who identified this lesson.
          </span>
          {% if err.identifiedBy %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the name of the person who identified this lesson
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiedBy" name="identifiedBy" type="text" value = {{ reqjson.identifiedBy }}>
        </div>

        <!-- area field -->
        <div {% if err.identifiedByArea %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="identified-by-area">
            Area of staff member who identified lesson
          </label>
          {% if err.identifiedByArea %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the work area of the person who identified this lesson, for example, TEAL portfolio
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="identifiedByArea" name="identifiedByArea" type="text" value = {{ reqjson.identifiedByArea }}>
        </div>

        <!-- how identified field -->
        <div {% if err.howIdentified %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="how-identified">
            When or how was this lesson identified?
          </label>
          {% if err.howIdentified %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Briefly explain how or when this lesson was identified, for example, at a sprint retrospective
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="howIdentified" name="howIdentified" type="text" value = {{ reqjson.howIdentified }}>
        </div>

        <!-- TODO Automatically calculate name of uploader -->

        <!-- lesson summary field -->
        <div {% if err.summary %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} >
          <label class="govuk-label--s" for="summary">
            Summary
          </label>
          <span id="summary-hint" class="govuk-hint">
            Please enter a brief summary of the lesson.
          </span>
          {% if err.summary %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Provide a summary of the lesson learned
          </span>
          {% endif %}
          <input class="govuk-input govuk-!-width-two-thirds" id="summary" name="summary" type="text" value = {{ reqjson.summary }}>
        </div>

        <!-- lesson details field -->
        <div {% if err.details %} class='govuk-form-group govuk-form-group--error' {% else %} class='govuk-form-group' {% endif %} data-module="govuk-character-count" data-maxlength="2000">
          <label class="govuk-label--s" for="with-hint">
            Lesson learned details
          </label>
          {% if err.details %}
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Describe the impact or benefit of the lesson
          </span>
          {% endif %}
          <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="details" name="details" rows="5" aria-describedby="with-hint-info with-hint-hint">{{ reqjson.details }}</textarea>
          <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 2000 characters
          </span>
        </div>

        <!-- target date field -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="target-date">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date
              </h1>
            </legend>
            <span id="target-date-hint" class="govuk-hint">
              Date all actions should be completed by. For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="target-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="target-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="targetDateDay" name="targetDateDay" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="target-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="targetDateMonth" name="targetDateMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="target-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="targetDateYear" name="targetDateYear" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <br>

        <input type="submit" draggable="false" value="Create" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
