{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Create
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Lesson added
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>{{createLesson[0].project_tp_num}}-{{createLesson[0].lesson_id}}</strong>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

        <a href="/create" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Add another lesson
        </a>

        <a href="/home" role="button" draggable="false" class="govuk-button govuk-button--secondary"  data-module="govuk-button--secondary">
          Return home
        </a>

      </form>

    </div>
  </div>

{% endblock %}
