{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Create
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Create a project</h1>

      <form class="form" action="create/project" method="post" enctype='application/json'>

        <div class="govuk-form-group"> <!-- Project name field -->
          <label class="govuk-label--s" for="project-name">
            Project name
          </label><br>
          <span id="project-name" class="govuk-hint">
            Please enter the name of the project.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="project_name" name="project_name" type="text">
        </div>

        <div class="govuk-form-group"> <!-- Project TP number field -->
          <label class="govuk-label--s" for="project-tp-num">
            Project TP number
          </label><br>
          <span id="project-name" class="govuk-hint">
            Please enter the TP number of the project, for example, TP081
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="project_tp_num" name="project_tp_num" type="text">
        </div>

        <div class="govuk-form-group"> <!-- Date added field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date started
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_started_day" name="date_started_day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_started_month" name="date_started_month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date_started_year" name="date_started_year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- Closure date field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-closed">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date closed
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-closed">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-closed-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_closed_day" name="date_closed_day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-closed-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_closed_month" name="date_closed_month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-closed-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date_closed_year" name="date_closed_year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- Portfolio field -->
          <label class="govuk-label--s" for="portfolio">
            Portfolio
          </label><br>
          <select class="govuk-select" id="portfolio" name="portfolio">
            <option value=""></option>
            <option value="indigo">Indigo</option>
            <option value="platinum">Platinum</option>
            <option value="coral">Coral</option>
            <option value="azure">Azure</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- SRM field -->
          <label class="govuk-label--s" for="SRM">
            Senior Responsible Manager (SRM)
          </label>
          <span id="SRM-hint" class="govuk-hint">
            Please enter the full name of the person who is responsible for the project.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="SRM" name="SRM" type="text">
        </div>

        <div class="govuk-form-group"> <!-- status field -->
          <label class="govuk-label--s" for="status">
            Status of project
          </label><br>
          <select class="govuk-select" id="status" name="status">
            <option value=""></option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
        </div>

        <br>

        <input type="submit" draggable="false" value="Create" class="govuk-button">

      </form>

    </div>
  </div>

{% endblock %}
