{% extends "layout.html" %}

{% block pageTitle %}
  LLR - Bulk Upload
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Bulk Upload</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Upload</h1>

    {% if rowsAdded %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Upload successful
              </h1>
              <div class="govuk-panel__body">
                {{rowsAdded}} lessons added
              </div>
            </div>
          </div>
        </div>
    {% endif %}

    {% if err.summary %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There was a problem. Your lessons have not been added
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if err.noFileUploaded %}
          <li>
            No file selected. Select a file to upload
          </li>
          {% endif %}
          {% if err.notCSV %}
          <li>
            File not recognised. Use the template provided
          </li>
          {% endif %}
          {% if err.projectId.blank or err.projectId.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your Project TP Numbers is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.projectId.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% elseif err.projectId.notExists %}
          <li>
            • One or more Projects entered does not exist on the database
          </li>
          {% endif %}
          {% if err.dateAdded.blank or err.dateAdded.format %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your dates has an error
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.dateAdded.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.category.blank or err.category.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your categories has an error
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.category.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.lessonType.invalidEntry %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your lesson types is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.lessonType.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.identifiedBy.blank or err.identifiedBy.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your 'Identified By' fields is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.identifiedBy.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.identifiersArea.blank or err.identifiersArea.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your 'Identifier's Area' fields is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.identifiersArea.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.howIdentifed.blank or err.howIdentifed.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your 'How Identified' fields is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.howIdentifed.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.summary.blank or err.summary.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your summaries is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.summary.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
          {% if err.description.blank or err.description.tooLong %}
          <li>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  One or more of your descriptions is invalid
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li>Please check:</li>
                {% for line in err.description.row %}
                  {% if not line == "" %}<li>Row {{line}}</li>{% endif %}
                {% endfor %}
              </div>
            </details>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

    <form class="form" action="bulkupload" method="post" enctype='multipart/form-data'>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file_upload">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file_upload" name="file" type="file">
      </div>

      <div class="govuk-form-group">
        <input data-prevent-double-click="true" type="submit" draggable="false" value="Upload" class="govuk-button">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file_download">
          <a href="/bulkformdownload">Download the latest template</a>
        </label>
      </div>

      <div class="govuk-inset-text">
          <a href="/formhelpdownload">Help filling this form</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
