{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Create
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Create a lesson</h1>

      <form class="form" action="/home" method="post">

        <div class="govuk-form-group"> <!-- Project name field -->
          <label class="govuk-label--s" for="project-name">
            Project name
          </label><br>
          <span id="project-name" class="govuk-hint">
            Please enter the name or TP number of the project.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="project-name" name="project-name" type="text">
        </div>

        <div class="govuk-form-group"> <!-- date added field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date added
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-added-day" name="date-added-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-added-month" name="date-added-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-added-year" name="date-added-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- category field -->
          <label class="govuk-label--s" for="Lesson category">
            Lesson category
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="lesson-category" name="lesson-category" type="text">
        </div>

        <div class="govuk-form-group"> <!-- WWW/EBI field -->
          <fieldset class="govuk-fieldset" aria-describedby="wwwebi-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Is this a "what went well" or "even better if" lesson?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="www">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  WWW
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="ebi">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  EBI
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- portfolio field -->
          <label class="govuk-label--s" for="sort">
            Portfolio
          </label><br>
          <select class="govuk-select" id="sort" name="sort">
            <option value="none"></option>
            <option value="indigo">Indigo</option>
            <option value="platinum">Platinum</option>
            <option value="coral">Coral</option>
            <option value="azure">Azure</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- lesson summary field -->
          <label class="govuk-label--s" for="portfolio">
            Summary
          </label>
          <span id="date-from" class="govuk-hint">
            Please enter a brief (less than 120 characters) summary of the lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="portfolio" name="portfolio" type="text">
        </div>

        <div class="govuk-form-group"> <!-- identified by field -->
          <label class="govuk-label--s" for="identified-by">
            Identified by
          </label>
          <span id="date-from" class="govuk-hint">
            Please enter the full name of the person who identified this lesson.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="identified-by" name="identified-by" type="text">
        </div>

        <div class="govuk-form-group"> <!-- area field -->
          <label class="govuk-label--s" for="identified-by-area">
            Area of staff member who identified lesson
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="identified-by-area" name="identified-by-area" type="text">
        </div>

        <div class="govuk-form-group"> <!-- uploaded by field -->
          <label class="govuk-label--s" for="added-by">
            Uploaded by
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="added-by" name="added-by" type="text">
        </div>

        <div class="govuk-form-group"> <!-- date added field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-added">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Target date
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              Date all actions should be completed by. For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-added">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-added-day" name="date-added-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-added-month" name="date-added-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-added-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-added-year" name="date-added-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- Action 1 field -->
          <label class="govuk-label--s" for="added-by">
            Action 1
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="added-by" name="added-by" type="text">
        </div>

        <div class="govuk-form-group"> <!-- Action 2 field -->
          <label class="govuk-label--s" for="added-by">
            Action 2
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="added-by" name="added-by" type="text">
        </div>

        <div class="govuk-form-group"> <!-- Action 3 field -->
          <label class="govuk-label--s" for="added-by">
            Action 3
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="added-by" name="added-by" type="text">
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <h1 class="govuk-label" for="with-hint">
              <b>Lesson learned details<b> <!-- should not need <b> tags however text doesnt format problerly without them -->
            </h1>
            <span id="with-hint-hint" class="govuk-hint">
              Do not include personal or financial information.
            </span>
            <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 2000 characters
          </span>
        </div>

        <br>

        <a href="/create_success" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Create
        </a>

      </form>

    </div>
  </div>

{% endblock %}
