{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

   <meta http-equiv = "refresh" content = "2; url = '/home'" />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Lessons Learned Repository
      </h1>
      <p>
        v0.01
      </p>

      <p>
        Please wait while you are redirected...
      </p>

      <p>
        If you are not redirected within 5 seconds, please click the following link:
      </p>

      <a href="/home">LLR Home</a>
    </div>
  </div>

{% endblock %}
