{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Lesson details
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/searchlesson">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Lesson details</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Lesson details</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Field</th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Project name</th>
            <td class="govuk-table__cell">{{lesson_details[0].project_id}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date added</th>
            <td class="govuk-table__cell"><i>TBC</i></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Category</th>
            <td class="govuk-table__cell">{{lesson_details[0].category}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">WWW/EBI</th>
            <td class="govuk-table__cell">{{lesson_details[0].www_ebi}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Portfolio</th>
            <td class="govuk-table__cell"><i>TBC</i></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lesson Summary</th>
            <td class="govuk-table__cell">{{lesson_details[0].summary}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Identified by</th>
            <td class="govuk-table__cell">{{lesson_details[0].identified_by}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Area</th>
            <td class="govuk-table__cell">{{lesson_details[0].identifiers_area}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">How was the lesson identified?</th>
            <td class="govuk-table__cell">{{lesson_details[0].how_identified}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Uploaded by</th>
            <td class="govuk-table__cell">{{lesson_details[0].uploaded_by}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Target date</th>
            <td class="govuk-table__cell">{{lesson_details[0].target_date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Completed date</th>
            <td class="govuk-table__cell">{{lesson_details[0].completion_date}}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Lesson details</th>
            <td class="govuk-table__cell">{{lesson_details[0].description}}.</td>
          </tr>
        </tbody>
      </table>

      <a href="/update_entry" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Update entry
      </a>

      <a href="/delete_confirmation" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Delete lesson
      </a>

      <!-- update button -->
      <!-- delete button -->

    </div>
  </div>

{% endblock %}
