{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Search
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Search for a lesson</h1>

      <form class="form" action="/search" method="post" enctype='application/json'>

        <div class="govuk-form-group"> <!-- Lesson name field -->
          <label class="govuk-label--s" for="Lesson name">
            Lesson name
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="lesson_name" name="lesson_name" type="text">
        </div>

        <div class="govuk-form-group"> <!-- Project name field -->
          <label class="govuk-label--s" for="Project name">
            Project name
          </label><br>
          <span id="date-from" class="govuk-hint">
            You can enter either the name of the project or the TP number.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="project_name" name="project_name" type="text">
        </div>

        <div class="govuk-form-group"> <!-- portfolio field -->
          <label class="govuk-label--s" for="sort">
            Portfolio
          </label><br>
          <select class="govuk-select" id="sort" name="sort">
            <option value="none"></option>
            <option value="azure">Azure</option>
            <option value="blue">Blue</option>
            <option value="chrome">Chrome</option>
            <option value="coral">Coral</option>
            <option value="enablers">Enablers</option>
            <option value="indigo">Indigo</option>
            <option value="platinum">Platinum</option>
            <option value="sapphire">Sapphire</option>
            <option value="teal">Teal</option>
            <option value="tom">TOM</option>
            <option value="tom">Pre-portfolio</option>
            <option value="tom">TBCT</option>
            <option value="tom">BAU</option>
            <option value="tom">BCM</option>
            <option value="tom">PM</option>
            <option value="tom">CAT</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- portfolio field -->
          <label class="govuk-label--s" for="sort">
            Lesson Category
          </label><br>
          <select class="govuk-select" id="sort" name="sort">
            <option value="none"></option>
            <option value="deployment">Deployment</option>
            <option value="technology">Technology</option>
            <option value="design">Design</option>
            <option value="training">Training</option>
            <option value="management">Management</option>
            <option value="security">Security</option>
            <option value="communications">Communications</option>
            <option value="financial">Financial</option>
            <option value="regulatory">Regulatory</option>
            <option value="resources">Resources</option>
            <option value="estates">Estates</option>
            <option value="commercial">Commercial</option>
            <option value="scoperequirements">ScopeRequirements</option>
            <option value="testing">Testing</option>
            <option value="strategy">Strategy</option>
            <option value="bau">BAU</option>
            <option value="schedule">Schedule</option>
            <option value="governance">Governance</option>
            <option value="assurance">Assurance</option>
            <option value="stakeholdes">Stakeholders</option>







          </select>
        </div>




        <div class="govuk-form-group"> <!-- lesson type field -->
          <label class="govuk-label--s" for="Lesson type">
            Lesson type
          </label><br>
          <select class="govuk-select" id="lesson_type" name="lesson_type">
            <option value="default" selected>
            <option value="www">What went well</option>
            <option value="ebi">Even better if</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- date from field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-from">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date from
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-from-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day" name="date-from-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-from-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month" name="date-from-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-from-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year" name="date-from-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- date to field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h4 class="govuk-fieldset__heading">
                Date to
              </h4>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 12 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-to-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day" name="date-to-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-to-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month" name="date-to-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-to-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year" name="date-to-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <input type="submit" draggable="false" value="Search" class="govuk-button">
        <input type="reset" draggable="false" value="Reset" class="govuk-button govuk-button--secondary">

      </form>

      <hr>
      <br>

<!-- TODO nunjucks hide table if no results -->
<!-- TODO nunjucks for loop to display only the number of rows returned by search query -->
<!-- TODO amend db query to return user name, not id -->
<!-- TODO make lesson number a hyperlink to details page -->
<!-- TODO search by project name -->

      <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Lesson number</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Lesson summary</th>
          <th scope="col" class="govuk-table__header">Uploaded by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[0].project_tp_num}}-{{lesson_details[0].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[0].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[0].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[0].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[1].project_tp_num}}-{{lesson_details[1].lesson_id}}</th>
          <td class="govuk-table__cell" id="row1">{{lesson_details[1].date_added | date}}</td>
          <td class="govuk-table__cell">{{lesson_details[1].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[1].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[2].project_tp_num}}-{{lesson_details[2].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[2].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[2].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[2].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[3].project_tp_num}}-{{lesson_details[3].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[3].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[3].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[3].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[4].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[4].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[4].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[5].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[5].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[5].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[6].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[6].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[6].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[7].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[7].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[7].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[8].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[8].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[8].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[9].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[9].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[9].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[10].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[10].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[10].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[11].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[11].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[11].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[12].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[12].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[12].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[13].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[13].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[13].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[14].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[14].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[14].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[15].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[15].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[15].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[16].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[16].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[16].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[17].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[17].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[17].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[18].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[18].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[18].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[19].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[19].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[19].uploaded_by}}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{lesson_details[4].project_tp_num}}-{{lesson_details[4].lesson_id}}</th>
          <td class="govuk-table__cell">{{lesson_details[20].date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_details[20].summary}}</td>
          <td class="govuk-table__cell">{{lesson_details[20].uploaded_by}}</td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>

{% endblock %}
