{% extends "layout.html" %}

{% block pageTitle %}
  Lessons Learned Repository - LLR - Search
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="mailto:douglas.pollock@hmpo.gov.uk">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Search for a lesson</h1>

      <form class="form" action="/search" method="post" enctype='application/json'>

        <div class="govuk-form-group"> <!-- Lesson name field -->
          <label class="govuk-label--s" for="Lesson name">
            Lesson name
          </label><br>
          <input class="govuk-input govuk-!-width-two-thirds" id="lesson_name" name="lesson_name" type="text">
        </div>

        <div class="govuk-form-group"> <!-- Project name field -->
          <label class="govuk-label--s" for="Project name">
            Project name
          </label><br>
          <span id="date-from" class="govuk-hint">
            You can enter either the name of the project or the TP number.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="project_name" name="project_name" type="text">
        </div>

        <div class="govuk-form-group"> <!-- portfolio field -->
          <label class="govuk-label--s" for="portfolio">
            Portfolio
          </label><br>
          <select class="govuk-select" id="portfolio" name="portfolio">
            <option value=""></option>
            <option value="azure">Azure</option>
            <option value="blue">Blue</option>
            <option value="chrome">Chrome</option>
            <option value="coral">Coral</option>
            <option value="enablers">Enablers</option>
            <option value="indigo">Indigo</option>
            <option value="platinum">Platinum</option>
            <option value="sapphire">Sapphire</option>
            <option value="teal">Teal</option>
            <option value="tom">TOM</option>
            <option value="pre-portfolio">Pre-portfolio</option>
            <option value="tbtc">TBCT</option>
            <option value="bau">BAU</option>
            <option value="bcm">BCM</option>
            <option value="pm">PM</option>
            <option value="cat">CAT</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- Lesson category field -->
          <label class="govuk-label--s" for="category">
            Lesson Category
          </label><br>
          <select class="govuk-select" id="category" name="category">
            <option value="" selected></option>
            <option value="assurance">Assurance</option>
            <option value="bau">BAU</option>
            <option value="commercial">Commercial</option>
            <option value="communications">Communications</option>
            <option value="deployment">Deployment</option>
            <option value="design">Design</option>
            <option value="estates">Development</option>
            <option value="estates">Estates</option>
            <option value="financial">Financial</option>
            <option value="governance">Governance</option>
            <option value="management">Management</option>
            <option value="regulatory">Regulatory</option>
            <option value="resources">Resources</option>
            <option value="scoperequirements">Scope/Requirements</option>
            <option value="schedule">Schedule</option>
            <option value="security">Security</option>
            <option value="stakeholdes">Stakeholders</option>
            <option value="strategy">Strategy</option>
            <option value="technology">Technology</option>
            <option value="testing">Testing</option>
            <option value="training">Training</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- lesson type field -->
          <label class="govuk-label--s" for="Lesson type">
            Lesson type
          </label><br>
          <select class="govuk-select" id="lesson_type" name="lesson_type">
            <option value="" selected></option>
            <option value="www">What went well</option>
            <option value="ebi">Even better if</option>
          </select>
        </div>

        <div class="govuk-form-group"> <!-- date from field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-from">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Date from
              </h1>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 11 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_from_day" name="date_from_day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_from_month" name="date_from_month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_from_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date_from_year" name="date_from_year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group"> <!-- date to field -->
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h4 class="govuk-fieldset__heading">
                Date to
              </h4>
            </legend>
            <span id="date-from" class="govuk-hint">
              For example, 12 12 2007
            </span>
            <div class="govuk-date-input" id="date-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_to_day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_to_day" name="date_to_day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-to-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_to_month" name="date_to_month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date_to_year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date_to_year" name="date_to_year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <input type="submit" draggable="false" value="Search" class="govuk-button">
        <input type="reset" draggable="false" value="Reset" class="govuk-button govuk-button--secondary">

      </form>

      {% if lesson_details %}

      <hr>
      <br>

<!-- TODO amend DB query to return user name, not id -->

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Lesson number</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Lesson summary</th>
            <th scope="col" class="govuk-table__header">Uploaded by</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

        {% asyncEach lesson_detail in lesson_details %}

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/{{lesson_detail.project_tp_num}}-{{lesson_detail.lesson_id}}">{{lesson_detail.project_tp_num}}-{{lesson_detail.lesson_id}}</a></th>
          <td class="govuk-table__cell">{{lesson_detail.date_added | date }}</td>
          <td class="govuk-table__cell">{{lesson_detail.summary}}</td>
          <td class="govuk-table__cell">{{lesson_detail.uploaded_by}}</td>
        </tr>

        {% endeach %}

      </tbody>
    </table>

    {% endif %}

    </div>
  </div>

{% endblock %}
